@media ( max-width: 1200px){
    .promo{
        &__subheader{
            margin-top: 0;
        }
        &__icons{
            margin-top: 25px;
        }
        .button_main{
            margin-top: 25px;
        }
    }
}



@media ( max-width: 991px){

}



@media ( max-width: 767px){

}


@media (max-width: 575px){

}

