body {
    background-color: #f8d7da;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
h1 {
    color: #721c24;
    text-align: center;
    font-size: 6em;
}
footer {
    text-align: center;
    font-size: 2em;
    background-color: #f8d7da;
    color: #6c757d;
    width: 100%;
}
img {
    margin: 10px auto;
    max-width: 400px;
}